<!DOCTYPE html>
<html>
<head>
  <title>Favorites</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<a href="/all" class="show-all-link">Show All Entries</a>
<a href="/favorites" class="show-favorites-link">Show Favorites</a>

<h1>Favorites</h1>

<% if (favorites.length === 0) { %>
  <p>You have no favorites yet.</p>
<% } else { %>
  <div class="card-container">
    <% favorites.forEach(favorite => { %>
      <div class="card" data-card-id="<%= favorite.card_id %>" data-subject="<%= favorite.subject %>">
        <h3><%= favorite.title %></h3>
        <p><strong>Subject:</strong> <%= favorite.subject %></p>
        </div>
    <% }); %>
  </div>
<% } %>

<a href="/">Back to Search</a>
</body>
</html>