<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Welcome to the Tarbell Index Search App</h1>
  <img src="/images/tarbell_collection.jpg" alt="Tarbell Course in Magic">
  <p>
    This is a paid application. Please make a payment to access the search
    functionality.
  </p>
  <p>
    <a href="/login">Login</a> if you have already paid.
  </p>
  <p>
    Don't have an account? <a href="/register">Register here</a>.
  </p>
</body>
</html>