<!DOCTYPE html>
<html>
  <head>
    <title>Tarbell Index Search</title>
    <link rel="stylesheet" href="/styles.css">  </head>
  <body>
    <a href="/all" class="show-all-link">Show All Entries</a>

    <h1>Search the Tarbell Index</h1>
    <form action="/search" method="GET">
      <input type="text" name="query" placeholder="Enter search term">
      <button type="submit">Search</button>
    </form>
  </body>
</html>